*{
  margin: 0;
  font-family: 'Open Sans';
  font-weight: 300;
}

header{
  background-color: #2F2235;
  display: flex;
  justify-content: space-between;
}

h1{
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 1% 3%;
}

h1 span{
  color: #34D1D1;
}

h2{
  color: #FFFFFF;
  margin: 1% 3%;
}

h3{
  text-transform: uppercase;
  margin: 2% 1%;
  width: 165px;
  margin: 5px auto;
}

hr{
  width: 85%;
}

.pattern-title{
  display: flex;
  align-items: center;
}

.card-info{
  border: 2px solid #D1D2D3;
  border-top: none;
  padding: 20px;
  background: white;
  display: flex;
}

.desktop-tab{
  padding: 10px 0;
  background-color: #F2F2F2;
  position: relative;
  width: 25%;
  border-right: #FFFFFF solid 1px;
  border-bottom: #D1D2D3 solid 2px;
}

.tab4{
  border-right: none;
}

.card{
  display: flex;
  justify-content: center;
}

.card-image{
  width: 250px;
  height: 300px;
  background-position: center;
  background-size: cover;
  margin-right: 20px;
}

.card-1 .card-image{
  background-image: url('./This-Corgi-puppy-is-a-teddy-bear.jpg');
}

.card-2 .card-image{
  background-image: url('./51p5c1efueoy.jpg')
}

.card-3 .card-image{
  background-image: url('./corgi-puppy-6.jpg')
}

.card-4 .card-image{
  background-image: url('./Corgi_Puppy_with_Ball.jpg')
}

.card-text{
  width: 500px;
  margin: 0 10px;
}

h5{
  font-weight: 800;
  font-size: 18px;
  padding: 5px 0;
  border-bottom: 1px solid #D1D2D3;
}

p{
  padding: 18px 0;
  line-height: 150%;
}


.all-tabs{
  display: flex;
  text-align: center;
  color: #666666;
}

.card-and-tabs{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card-area{
  display: flex;
  justify-content: center;
  margin: 3% 0;
}

.selected{
  background-color: #FFFFFF;
  border: solid 2px #D1D2D3;
  border-bottom: none;
  font-weight: 800;
}

.code{
  width: 80%;
  margin-bottom: 5%;
}

footer{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.hidden{
  display: none;
}
.mobile{
  display: none;
}

.view-code-btn{
  background-color: #3F3244;
  padding: 10px 0;
  width: 200px;
  color: #F2F2F2;
  margin: 5%;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}


.all-cards{
  display: grid;
  justify-content: center;
  grid-template-columns: 250px 250px 250px;
  grid-gap: 20px;
  grid-auto-rows: 250px 250px 250px;
}

.flex-card{
  border: #D1D2D3 solid 2px;
}

.flex-card h5{
  padding: 10px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: white;
}

.card-a{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  background-image: url('http://images.mentalfloss.com/sites/default/files/styles/mf_image_3x2/public/istock_100323527_small.jpg?itok=oiujRZ-o&resize=1100x740');
  background-position: center;
  background-size: cover;
}

.card-b{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  background-image: url('https://media1.popsugar-assets.com/files/thumbor/WDpNvfIXDs7v_7a2pJyCr2VW8EI/fit-in/2048xorig/filters:format_auto-!!-:strip_icc-!!-/2013/11/06/007/n/1922243/5e1028364f5bba97_thumb_temp119650771383779195/i/What-Difference-Between-Pembroke-Welsh-Corgi-Cardigan-Welsh-Corgi.jpg');
  background-position: center;
  background-size: cover;
}

.card-c{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  background-image: url('https://i.pinimg.com/736x/6a/b6/36/6ab63673e1781d7214cacd519e1b2776.jpg');
  background-position: center;
  background-size: cover;
}
.card-d{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  background-image: url('http://postkitty.com/sites/default/files/styles/post_cover/public/articles/2017/09/story/26/cute-corgi-dog_1.jpg?itok=i8NbudKD');
  background-position: center;
  background-size: cover;
}

.card-e{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
  background-image: url('https://img.buzzfeed.com/buzzfeed-static/static/2017-11/15/23/campaign_images/buzzfeed-prod-fastlane-01/corgis-are-cancelled-and-basset-hounds-have-taken-2-7643-1510805714-0_dblbig.jpg');
  background-position: center;
  background-size: cover;
}

.card-f{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
  background-image: url('https://pawster.com/wp-content/uploads/2016/10/Fotolia_164383181_S.jpg');
  background-position: center;
  background-size: cover;
}

.card-g{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3;
  background-image: url('https://barkpost.com/wp-content/uploads/2015/01/corgi2.jpg');
  background-position: center;
  background-size: cover;
}




@media screen and (max-width: 700px){
  header{
    flex-direction: column;
    text-align: center;

  }

  hr{
    display: none;
  }

  .all-tabs{
    display: none;
  }
  .card{
    display: flex;
    flex-direction: column;
    width: 80vw;
  }
  .card-info{
    flex-direction: column;
    padding: 0;
    background-position: top;
  }

  .card-text{
    width: 95%;
  }

  .card-image{
    width: 100%;
    height: 250px;
    margin: 0;
  }

  .mobile{
    display: flex;
    top: 0;
    left: 0;
    width: 74vw;
    border: #D1D2D3 solid 1px;
    text-align: center;
    align-self: center;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
  }

  .close-icon{
    background-image: url('./substract.svg');
    background-size: cover;
    background-position: center;
    width: 10px;
    height: 10px;
  }

  .open{
    background-image: url('./add.svg');
  }

  .all-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
    align-items: center;
  }

  .flex-card{
    margin: 10px 0;
    width: 80vw;
    height: 40vh;
  }
}




