*{
  margin: 0;
  font-family: 'Open Sans';
  font-weight: 300;
}

header{
  background-color: #2F2235;
  display: flex;
  justify-content: space-between;
}

h1{
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 1% 3%;
}

h1 span{
  color: #34D1D1;
}

h2{
  color: #FFFFFF;
  margin: 1% 3%;
}

h3{
  text-transform: uppercase;
}

